<p style="color: green"><%= notice %></p>

<%= render @manufacturer %>

<div>
  <%= link_to "Edit this manufacturer", edit_admin_manufacturer_path(@manufacturer) %> |
  <%= link_to "Back to manufacturers", admin_manufacturers_path %>

  <%= button_to "Destroy this manufacturer", admin_manufacturer_path(@manufacturer), method: :delete %>
</div>
