<div id="<%= dom_id smartphone %>">
  <p>
    <strong>Manufacturer:</strong>
    <%= smartphone.manufacturer_id %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= smartphone.model_id %>
  </p>

  <p>
    <strong>Data memory:</strong>
    <%= smartphone.data_memory %>
  </p>

  <p>
    <strong>Year of manufacture:</strong>
    <%= smartphone.year_of_manufacture %>
  </p>

  <p>
    <strong>Os version:</strong>
    <%= smartphone.os_version %>
  </p>

  <p>
    <strong>Body color:</strong>
    <%= smartphone.body_color %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= smartphone.price %>
  </p>

</div>
